#details-product {
    display: flex;
    align-items: center;
    padding-bottom: 45px;
    border-bottom: solid 1px #3a3a3a;
}

#details-product .col-x img {
    width: 100%;
    border-radius: 5%;
}

#description {
    padding: 20px;
}

.name-product {
    text-transform: uppercase;
    font-size: 70%;
}

main {
    background-color: transparent !important;
}

#types {
    border-bottom: solid 1px #a5a5a5;
    list-style-type: none;
    margin-block-start: 0px;
    padding-inline-start: 0px;
}

#types li {
    border-bottom: solid 1px black;
    width: fit-content;
    font-weight: 800;
}

